.button {
  font-family: $secondary-font;
  color: $basic-light;
  background-color: $bg-color-secondary;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  border: none;
}

