.show-all__title {
  font-family: $secondary-font;
  color: #111111;
  text-transform: uppercase;
  text-align: center;
}

.show-all__button {
  background-color: $bg-color-third;
  color: $basic-grey-text;
}
